{% extends 'gis/base.html' %}

{% block title %}
    Map
{% endblock %}

{% block content %}

    <h3>Map</h3>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis dolorem eaque, eos eveniet
        incidunt inventore ipsam, libero neque nisi numquam pariatur ratione sit totam velit. Cupiditate expedita ipsam
        itaque.
    </div>
    <div>Aspernatur dolore dolores earum fuga hic? Ad alias aliquam architecto autem, beatae delectus eaque esse,
        maiores molestias, porro quidem sint vel. Consequatur corporis ea fugit magnam quis. In, ipsum, provident!
    </div>
    <div>Asperiores, quae sed. Adipisci aspernatur deleniti ducimus earum ipsum itaque minima nihil perferendis quod,
        ratione rerum ut voluptatem? Aliquid dicta dolore doloremque doloribus facilis iusto odio placeat quod sapiente
        sunt!
    </div>
    <div>Accusantium aliquam deserunt eaque excepturi facere incidunt magnam quis, quod tempore voluptatem! Aut illum
        ipsa nobis sunt temporibus ullam. Asperiores aspernatur maxime minima modi neque nisi quae quia repellat ullam.
    </div>
    <div>At distinctio eum fuga hic labore neque non quisquam repellendus vitae. Asperiores autem, blanditiis cupiditate
        deserunt dignissimos eius error eveniet exercitationem inventore modi neque obcaecati odio officiis ratione
        tenetur vitae?
    </div>

{% endblock %}